adafruit_ccs811==0.2.1
board==1.0
fastai==2.6.3
torch==1.9.1
torchvision==0.10.1
matplotlib==3.3.4
numpy==1.20.2
opencv_python==4.5.4.60
pyaudio==0.2.11
pyserial==3.5
smbus==1.1.post2
torchaudio==0.9.0
soundfile==0.10.3.post1
portaudio19-dev 
serial==0.0.97
jupyterplot==0.0.3